.hero {
  height: 90.5vh;
  background-image: url("hero.jpeg");
  background-size: cover;
  background-position: fixed
;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  color: white;
  text-align: center;
}
