body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #EFEBE4;
  border-bottom: 1px solid #EFEBE4;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.hero {
  background:#EFEBE4;
  text-align: center;
}

section {
  margin: 0;
}

footer {
  background: #333;
  color: #EFEBE4;
  text-align: center;
  padding: 20px;
}
